---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lcw - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/avatar-lcw.jpg">
				<h1>刘崇武</h1>
				<p>A student major in control engineering,<br>
					focus on medical equipment development，Internet things of technology，WIFI technology</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">无线AP</h2>
							<time>2016.06</time>
							<img src="images/ap.png">
							<ul>
								<li>
									信锐无线AP天线发射功率线性可调，根据实际部署密度，可适时调整发射功率，避免AP之间的相互干扰，同时确保信号覆盖无盲区。可根据周围设备信道占用情况，自动选择最优信道，避免同频干扰，提升网络稳定性。自动广播提速，ARP报文转单播，减少垃圾报文，提升传输效率；漫游过程中自动感知终端的信号强度，并引导其接入最佳AP；根据时间公平算法，有效防止低速率终端拖慢整体网络性能。
								</li>
								<li class="skill">
									<span><b>无线Ap</b></span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="http://www.sundray.com.cn/product/ap.html">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>

					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
